@import "bootstrap.min.css";
@import "slick.css";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@400;500;700&display=swap');
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}
.container{
    padding: 0;
}
.container-fluid{
    overflow: hidden;
}
ul, p{
    list-style: none;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 41px;
    line-height: 56px;
}
h3{
    font-size: 30px;
    line-height: 36px;
}
a{
    transition: all .4s ease;
}
button{
    background: none;
    border: none;
    border: none;
    transition: all .4s ease;
}
input{
    outline: none;
    border: none;
}
.slick-slide{
    display: block;
}
p{
    font-size: 14px;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
.section, .container{
    position: relative;
}
.container{
    z-index: 2;
}
.section{
    padding-top: 60px;
    padding-bottom: 60px;
}
#header{
    background: #00FF00;
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all .6s ease;
    box-shadow: 3px 7px 55px rgba(0, 0, 0, 0.25);
}
body{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    background: #fffbeb;
    font-size: 16px;
    line-height: 18px;
}
.b_w--head h1{
    color: #818181;
    letter-spacing: 5px;
    font-size: 60px;
    line-height: 78px;
}
@keyframes b_w--paragraph{
	0%{
		transform: translateY(-40px);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 100%;
	}
}

.b_w--paragraph>p{
    display: inline-block;
    width: 100%;
    opacity: 0;
    font-size: 16px;
    color: #898888;
    line-height: 28px;
}
.home-container.animation-done .b_w--paragraph>p{
    animation: b_w--paragraph 1s ease 4.5s forwards;
}
.b_w{
    text-align: center;
    max-width: 67%;
    margin: 0 auto;
    background: #fffbeb;
    padding: 60px 30px;
    border: 15px solid #00FF00;
    opacity: 0;
}
.b_w .b_w--head{
	display: inline-block;
	padding: 8px 8px 10px;
	position: relative;
	overflow: hidden;
    z-index: 2;
    opacity: 0;
}
@keyframes b_w--head-before{
	0%{
		transform: translateX(-100%);
    }
    25%{
		transform: translateX(0);
    }
    45%{
        transform: translateX(100%);
    }
	100%{
		transform: translateX(-50%);
	}
}
.b_w .b_w--head:before{
	content: "";
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    left: 0;
    width: 100%;
    height: 100%;
    background: #00FF00;
    mix-blend-mode: difference;
}
.home-container.animation-done .b_w .b_w--head:before{
    animation: b_w--head-before 4s ease 1.5s forwards;
}
.mail-head-container>a, .number-head-container>a{
    display: inline-block;
}
.number-head, #header .mail-head{
    margin-left: 15px;
}
.our-contacts-head a, #footer a{
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    display: block;
}
.number-head a:first-child{
    margin-bottom: 5px;
}
.navbar-header, .number-head-container, .mail-head-container, .our-contacts-head{
    display: flex;
    align-items: center;
}
.number-head-container, .mail-head-container, .our-contacts-head{
    justify-content: flex-end;
}
.our-contacts-head svg{
    width: 25px;
}
.our-contacts-head svg path{
    fill: #ffffff;
}
.mail-head-container{
    margin-right: 30px;
}
.home-container{
    height: 100vh;
    padding: 90px 0 0;
}
.home-container>.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.b_w .description{
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    margin-top: 22px;
    opacity: 0;
}
.main-banner-slider{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.main-banner-slider .item{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-banner-slider:before, .main-banner-slider:after, .our-services.section:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 101%;
    bottom: 0;
    left: 0;
    background: linear-gradient(54.63deg, #0b722ae6 0%, #7d9e3fe0 29.31%);
    opacity: 0.15;
    z-index: 1;
}
.main-banner-slider:after, .our-services.section:before{
    background: linear-gradient(180deg, #fffbeb 0%, rgba(255, 255, 255, 0) 32.12%, rgba(255, 255, 255, 0) 73.96%, #fffbeb 100%);
    opacity: 1;
}
.our-services.section:before{
    background: linear-gradient(180deg, #fffbeb 0%, rgba(255, 255, 255, 0) 23.12%, rgba(255, 255, 255, 0) 82.96%, #fffbeb 100%);
}
.main-banner-slider .slick-list, .main-banner-slider .slick-track{
    height: 100%;
}
@keyframes from-top{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes from-bottom{
    from{
        transform: translateY(80px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes from-left{
    from{
        transform: translateX(-80px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes from-right-info{
    from{
        transform: translateX(40%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes from-left-info{
    from{
        transform: translateX(-40%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.home-container.animation-done .b_w{
    animation: from-top 1.2s ease .8s forwards;
}
.home-container.animation-done .b_w .description{
    animation: from-bottom 1s ease 5.4s forwards;
}
.home-container.animation-done .b_w--head{
    animation: from-top .8s ease 1s forwards;
}
.section h2{
    opacity: 0;
}
.animation-done.section h2{
    animation: from-bottom .6s ease forwards;
}

.our-services.section {
    background: rgba(0, 255, 0, .7);
}
.our-services.section{
    padding-top: 100px;
}
.our-services-list{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 70px 0;
    position: relative;
    margin-top: 70px;
    align-items: flex-start;
}
.our-services-list .item{
    width: 50%;
    padding: 0 70px 0 0;
    position: relative;
}
.our-services-list .item:nth-child(even){
    padding: 0 0 0 70px;
    margin-top: 80px;
    margin-bottom: 50px;
}
.our-services-list .item p{
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
    transform: translateX(-40%);
    transition: all .7s ease;
}
.our-services-list .item:nth-child(even) p{
    transform: translateX(40%);
}
.our-services-list:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 8px;
    background: #333333;
    transition: all 5.5s linear;
}
.our-services-list .item>span:before, .our-services-list .item>span{
    position: absolute;
    width: 30px;
    height: 30px;
    right: -15px;
    background: #fffbeb;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
}
.our-services-list .item>span{
    transition: all .7s ease;
    opacity: 0;
    top: -30px;
}
.our-services-list .item>span:before{
    content: "";
    top: 0;
    right: 0;
    background: rgba(0, 255, 0, .7);
    border: 5px solid #333333;
}
.our-services.animation-done .our-services-list:before{
    height: 100%;
}
.our-services.animation-done .our-services-list .item p{
    opacity: 1;
    transform: translateX(0);
}
.our-services.animation-done .our-services-list .item>span{
    opacity: 1;
    top: 5px;
}
.our-services.animation-done .our-services-list .item:nth-child(1) p{
    transition-delay: .8s;
}
.our-services.animation-done .our-services-list .item:nth-child(2) p{
    transition-delay: 1.4s;
}
.our-services.animation-done .our-services-list .item:nth-child(3) p{
    transition-delay: 2s;
}
.our-services.animation-done .our-services-list .item:nth-child(4) p{
    transition-delay: 2.6s;
}
.our-services.animation-done .our-services-list .item:nth-child(5) p{
    transition-delay: 3.2s;
}
.our-services.animation-done .our-services-list .item:nth-child(6) p{
    transition-delay: 3.8s;
}
.our-services.animation-done .our-services-list .item:nth-child(7) p{
    transition-delay: 4.4s;
}
.our-services.animation-done .our-services-list .item:nth-child(8) p{
    transition-delay: 5s;
}
.our-services.animation-done .our-services-list .item:nth-child(1)>span{
    transition-delay: .6s;
}
.our-services.animation-done .our-services-list .item:nth-child(2)>span{
    transition-delay: 1.2s;
}
.our-services.animation-done .our-services-list .item:nth-child(3)>span{
    transition-delay: 1.8s;
}
.our-services.animation-done .our-services-list .item:nth-child(4)>span{
    transition-delay: 2.4s;
}
.our-services.animation-done .our-services-list .item:nth-child(5)>span{
    transition-delay: 3s;
}
.our-services.animation-done .our-services-list .item:nth-child(6)>span{
    transition-delay: 3.6s;
}
.our-services.animation-done .our-services-list .item:nth-child(7)>span{
    transition-delay: 4.2s;
}
.our-services.animation-done .our-services-list .item:nth-child(8)>span{
    transition-delay: 4.8s;
}
.our-services-image-wrappper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.our-services-image-wrappper>img{
    max-width: 25%;
    width: 240px;
    opacity: 0;
    padding: 0 10px;
}
.our-services-image-wrappper>img:nth-child(2), .our-services-image-wrappper>img:nth-child(3){
    width: 270px;
}
.our-services-image-wrappper>img:nth-child(4){
    width: 210px;
}
.our-services.animation-done .our-services-image-wrappper>img{
    animation: from-top .8s ease 5.5s forwards;
}
.our-services.animation-done .our-services-image-wrappper>img:nth-child(2){
    animation-delay: 6s;
}
.our-services.animation-done .our-services-image-wrappper>img:nth-child(3){
    animation-delay: 6.5s;
}
.our-services.animation-done .our-services-image-wrappper>img:nth-child(4){
    animation-delay: 7s;
}

.info-section .main-list{
    width: 100%;
    opacity: 0;
}
.info-section .info-block-wrapper{
    display: flex;
}
.screw-spare-parts .info-block-wrapper .image-block{
    padding: 0 35px;
}
.info-section .image-block{
    width: 100%;
    opacity: 0;
}
.info-section h3{
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 255, 0, .7);
    margin-bottom: 35px;
    text-align: center;
    opacity: 0;
}
.main-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 40px;
}
.main-list>li{
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 10px;
}
.main-list>li .list-mark{
    font-size: 0;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #00FF00;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
}
.main-list>li .list-mark:before{
    content: "";
    position: absolute;
    height: 13px;
    width: 7px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    top: 4px;
    left: 9px;
    transform: rotate(45deg);
}
.info-section{
    padding-top: 60px;
    padding-bottom: 0;
}
.info-section .image-block+.main-list{
    padding-left: 40px;
    padding-right: 0;
}
.info-section.animation h3{
    animation: from-left .6s ease forwards;
}
.info-section.animation .main-list, .info-section.animation .image-block{
    animation: from-left-info 1s ease .5s forwards;
}
.info-section.animation .image-block+.main-list, .info-section.animation .main-list+.image-block{
    animation: from-right-info 1s ease 1s forwards;
}
.info-section.animation .main-list+.image-block+.main-list{
    animation-delay: 1.5s;
}
.main-list>li:last-child{
    margin-bottom: 0;
}

.our-advantages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 60px;
}
.advantages-item>.icon{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80px;
    margin: 0 auto;
    height: 80px;
}
.advantages-item{
    padding: 0 30px;
    border-right: 2px solid rgba(0, 255, 0, .7);
}
.advantages-item:first-child{
    padding-left: 0;
}
.advantages-item:last-child{
    padding-right: 0;
    border: none;
}
.advantages-item:nth-child(1)>.icon{
    background-image: url(../image/advantages/icon-1.svg);
}
.advantages-item:nth-child(2)>.icon{
    background-image: url(../image/advantages/icon-2.svg);
}
.advantages-item:nth-child(3)>.icon{
    background-image: url(../image/advantages/icon-3.svg);
}
.advantages-item:nth-child(4)>.icon{
    background-image: url(../image/advantages/icon-4.svg);
}
.advantages-item>.content{
    text-align: center;
    font-weight: 700;
    padding-top: 25px;
}
.our-advantages-wrapper h2{
    opacity: 1;
    animation: none;
}
#footer{
    background: #00FF00;
    margin-top: 30px;
}
#footer>.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
#footer .mail-head-container{
    margin: 0;
}
.footer-logo{
    display: block;
}
#footer .footer-logo img{
    display: block;
    margin: 0 auto;
}
#footer .mail-head-container, #footer .number-head-container{
    flex-direction: column;
    justify-content: center;
}
#footer .name{
    padding-bottom: 0;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    border-bottom: 1px solid;
    opacity: .7;
}

@media screen and (max-width:991px){
    .container>.navbar-header{
        margin: 0;
    }
    .navbar-brand{
        padding-right: 15px;
    }
}
@media screen and (max-width:767px){
    .b_w--head h1{
        font-size: 32px;
        line-height: 42px;
    }
    h2{
        font-size: 29px;
        line-height: 36px;
    }
    .b_w{
        padding: 40px 10px;
        border-width: 10px;
        max-width: 85%;
    }
    .b_w--paragraph>p{
        line-height: 20px;
    }
    .b_w .description{
        font-size: 18px;
        line-height: 22px;
    }
    .home-container{
        padding: 50px 0 0;
    }
    .our-services-image-wrappper>img{
        padding: 0 5px;
    }
    .our-services.animation-done .our-services-list .item>span{
        top: 50%;
        transform: translateY(-50%);
        right: -1px;
    }
    .our-services-list .item p{
        font-size: 14px;
    }
    .our-services-list:before{
        right: 10px;
        transform: none;
        left: auto;
    }
    .our-services-list .item{
        width: 100%;
    }
    .our-services-list .item:nth-child(even){
        padding: 0 70px 0 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .our-services-list{
        padding: 0;
    }
    .info-section .info-block-wrapper {
        flex-direction: column;
    }
    .info-section .image-block, .screw-spare-parts .info-block-wrapper .image-block{
        padding: 20px 0;
    }
    .info-section .image-block+.main-list{
        padding: 0;
    }
    .advantages-item{
        padding: 0 20px;
        margin-bottom: 30px;
    }
    .advantages-item:nth-child(even){
        padding-right: 0;
        border: none;
    }
    .our-advantages{
        grid-template-columns: 1fr 1fr;
    }
    #footer>.container{
        flex-direction: column;
    }
    #footer>.container>*{
        margin-bottom: 25px;
    }
    #footer .mail-head-container{
        order: 1;
    }
}
@media screen and (min-width:768px){
    .our-services-list .item:nth-child(even)>span{
        right: auto;
        left: -15px;
    }
    .info-section.air-system .main-list{
        width: 40%;
    }
    .info-section.air-system .image-block{
        width: 60%;
    }
    .info-section .image-block{
        width: 50%;
    }
    .screw-spare-parts .info-block-wrapper .main-list{
        width: 25%;
    }
    .info-section .main-list{
        width: 50%;
    }
    #footer .mail-head-container>*{
        margin-right: auto;
    }
    #footer .mail-head-container, #footer .number-head-container{
        width: 35%;
    }
    #footer .footer-logo{
        width: 30%;
    }
    #footer .number-head-container {
        align-items: flex-end;
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    #header{
        padding-right: 0;
        padding-left: 0;
    }
    #header .container>.navbar-header{
        padding-right: 15px;
        padding-left: 15px;
    }
    .screw-spare-parts .info-block-wrapper .main-list{
        width: 30%;
        padding-right: 20px;
    }
    .screw-spare-parts .info-block-wrapper .image-block {
        padding: 0 15px;
        width: 40%;
    }
    .screw-spare-parts .info-block-wrapper .image-block+.main-list {
        padding-left: 20px;
    }
    
}